In [2]:
#import the packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [30]:
df = pd.read_csv("https://raw.githubusercontent.com/Premalatha-success/Datasets/main/hotel_bookings.csv")

In [31]:
df.shape

(119390, 32)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [6]:
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [ ]:
# there are 488 missing values in country column
# there are 4 missing values in children
# 16340 missing values in agent(float)
# 112593 missing in company(float) and dropping because of missing values

In [33]:
df = df.drop(["company"],axis=1)

In [34]:
df.shape

(119390, 31)

In [ ]:
#Missing Values

In [35]:
median1 = df["children"].median()
median1

0.0

In [36]:
df["children"].replace(np.nan,median1,inplace=True)

In [37]:
mode1 = df["country"].mode().values[0]
mode1

'PRT'

In [38]:
df["country"].replace(np.nan,mode1,inplace=True)

In [39]:
df.isnull().sum()

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              0
babies                                0
meal                                  0
country                               0
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                             16340
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
dtype: int64

In [40]:
## Check for Duplicates
dp = df.duplicated()
print(dp.sum())

32020

In [41]:
df.drop_duplicates(inplace=True)

In [42]:
df.duplicated().sum()

0

In [43]:
df.shape

(87370, 31)

In [44]:
#Outlier
df.boxplot(column=["lead_time"])

In [45]:
def remove_outlier(col):
    sorted(col)
    Q1,Q3=col.quantile([0.25,0.75])
    IQR = Q3-Q1
    lower_range=Q1 - 1.5*IQR
    upper_range=Q3 + 1.5*IQR
    return lower_range,upper_range

In [46]:
low_leadtime,high_leadtime = remove_outlier(df["lead_time"])
df["lead_time"]=np.where(df["lead_time"]>high_leadtime,high_leadtime,df["lead_time"])
df["lead_time"]=np.where(df["lead_time"]<low_leadtime,low_leadtime,df["lead_time"])

In [47]:
df.boxplot(column=["lead_time"])

In [50]:
dummies = pd.get_dummies(df[["hotel","arrival_date_month","meal","country","market_segment"]])

In [51]:
dummies.head()

,hotel_City Hotel,hotel_Resort Hotel,arrival_date_month_April,arrival_date_month_August,arrival_date_month_December,arrival_date_month_February,arrival_date_month_January,arrival_date_month_July,arrival_date_month_June,arrival_date_month_March,...,country_ZMB,country_ZWE,market_segment_Aviation,market_segment_Complementary,market_segment_Corporate,market_segment_Direct,market_segment_Groups,market_segment_Offline TA/TO,market_segment_Online TA,market_segment_Undefined
0,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [52]:
columns=["hotel","arrival_date_month","meal","country","market_segment"]

In [53]:
df = pd.concat([df,dummies],axis=1)

In [54]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,country_ZMB,country_ZWE,market_segment_Aviation,market_segment_Complementary,market_segment_Corporate,market_segment_Direct,market_segment_Groups,market_segment_Offline TA/TO,market_segment_Online TA,market_segment_Undefined
0,Resort Hotel,0,296.0,2015,July,27,1,0,0,2,...,0,0,0,0,0,1,0,0,0,0
1,Resort Hotel,0,296.0,2015,July,27,1,0,0,2,...,0,0,0,0,0,1,0,0,0,0
2,Resort Hotel,0,7.0,2015,July,27,1,0,1,1,...,0,0,0,0,0,1,0,0,0,0
3,Resort Hotel,0,13.0,2015,July,27,1,0,1,1,...,0,0,0,0,1,0,0,0,0,0
4,Resort Hotel,0,14.0,2015,July,27,1,0,2,2,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23.0,2017,August,35,30,2,5,2,...,0,0,0,0,0,0,0,1,0,0
119386,City Hotel,0,102.0,2017,August,35,31,2,5,3,...,0,0,0,0,0,0,0,0,1,0
119387,City Hotel,0,34.0,2017,August,35,31,2,5,2,...,0,0,0,0,0,0,0,0,1,0
119388,City Hotel,0,109.0,2017,August,35,31,2,5,2,...,0,0,0,0,0,0,0,0,1,0
119389,City Hotel,0,205.0,2017,August,35,29,2,7,2,...,0,0,0,0,0,0,0,0,1,0

In [55]:
df.drop(columns,axis=1,inplace=True)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87370 entries, 0 to 119389
Columns: 230 entries, is_canceled to market_segment_Undefined
dtypes: float64(4), int64(15), object(7), uint8(204)
memory usage: 35.0+ MB

In [57]:
df.dtypes

is_canceled                       int64
lead_time                       float64
arrival_date_year                 int64
arrival_date_week_number          int64
arrival_date_day_of_month         int64
                                 ...
market_segment_Direct             uint8
market_segment_Groups             uint8
market_segment_Offline TA/TO      uint8
market_segment_Online TA          uint8
market_segment_Undefined          uint8
Length: 230, dtype: object